<section class="form">
    <h1 mat-dialog-title>Picture id:{{data}}</h1>
    <div mat-dialog-content *ngIf="image">
        <img src="{{image.url}}" alt="img id {{image.id}}">
        <div *ngIf="image" class="comments-list">
            <li *ngFor="let comment of image.comments" class="comment">
                <span>id:{{comment.id}}|{{comment.text}}</span>
                <input type="date" [ngModel]="comment.date | date:'yyyy-MM-dd'" disabled="" />            
            </li>
        </div>
        <div >
            <mat-form-field>
                <input matInput [(ngModel)]="name" class="comment-name" placeholder="Enter your name">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="comment" class="comment-text" placeholder="Wright your comment">
            </mat-form-field>
            
        </div>
    </div>
    <div>
        <button mat-button (click)="sendMessage()">Send message</button>
        <button mat-button mat-dialog-close cdkFocusInitial (click)="closeDialog()">Close</button>
    </div>
    
</section>